@using LoginTest.Models;
@model IEnumerable<BaiViet>
@{
    ViewBag.Title = "Index";
}
@{
    IEnumerable<BaiViet> lstCN = (IEnumerable<BaiViet>)ViewBag.ListCN;
    IEnumerable<BaiViet> lstHT = ViewBag.ListHT as IEnumerable<BaiViet>;
    IEnumerable<BaiViet> lstTT = ViewBag.ListTT as IEnumerable<BaiViet>;
}

<div class="martop"></div>
<div class="ccontainer">
    <section class="top02">
        @Html.Partial("~/Views/BaiViet/BaiVietStyle1Partial.cshtml", lstCN)
    </section>
    <section class="top03">
        @Html.Partial("~/Views/BaiViet/BaiVietStyle2Partial.cshtml", lstHT)
    </section>
</div>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
